*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
body{
  display: flex;
  justify-content: center;
  min-hight: 100vh;
  background: #000;
}
nav a{
  position: relative;
  font-size: 1.1em;
  font-weight: 500;
  color: #333;
  text-decoration: none;
  padding: 6px 20px;
  transition: .5s;
}
